# Task-1:-Codevita Internship

TASK: **To predict weight of a person based on their height using Linear Regression.**

Linear Regression can be considered a Machine Learning algorithm that allows us to map numeric inputs to numeric outputs, fitting a line into the data points.Linear Regression as an algorithm relies on the concept of lowering the cost to maximize the performance.

**Step 1: Load Dataset**

In [1]:
# Step 1 - Loading the data
import pandas as pd
df = pd.read_csv("weight-height.csv")

In [2]:
#Checking sample rows
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

**Step 2: Analyze Data**
The dataset contains 3 columns namely 'Gender', 'Height' and 'Weight'.
Height is in inches and weight is in pounds.

In [3]:
#This method returns the output as shown below. It basically shows the number of entries, the column names and the column types. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [4]:
#Checking count, mean and other descriptors for numerical columns
#The describe method displays basic statistical information on the numerical values of the dataset like mean, standard deviation, percentile, min and max.
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [5]:
#Checking for null values: list of number of null values in each column
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

Step 3: Selecting X and y for input and output variables and converting them to Array for easier calculation before using ML model

In [6]:
X = df.iloc[:, :-1].values 
y = df.iloc[:, 2].values

Step 4: Convert Gender to number: Convert all categorical values (text values) to numerical , in this case convert gender variable to 0 for male and 1 for female.As we have two categories Male and female.

We use LabelEncoder for this step:

In [7]:
# Using LabelEncoder  
from sklearn.preprocessing import LabelEncoder
labelEncoder_gender =  LabelEncoder()
X[:,0] = labelEncoder_gender.fit_transform(X[:,0])

In [8]:
X[:5] #sample inputs

array([[1, 73.847017017515],
       [1, 68.7819040458903],
       [1, 74.1101053917849],
       [1, 71.7309784033377],
       [1, 69.8817958611153]], dtype=object)

Step 4: Split dataset into training set and test set
We will use 80% of the data for training and 20% of the data for testing.

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

Step 5: Fit Regression Model
Using LinearRegression to train our model.

In [10]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

Step 6: Predict test set values

In [11]:
lrpred = lr.predict(X_test)

Letâ€™s compare the predicted values (lin_pred) with the actual values (y_test). We can see that our model did a fairly good job.

In [12]:
lrpred[:10]

array([141.93828842, 176.55658781, 219.77836195, 148.83188401,
       162.0920759 , 105.84706638, 142.40537439, 134.34505435,
       184.01021005, 196.05450515])

In [13]:
y_test[:10]

array([138.0857961 , 187.36336585, 216.53319128, 131.76144282,
       157.71843843,  98.51607861, 149.63194856, 133.515492  ,
       188.05333309, 210.1988449 ])

Step 7: Model Evaluation

In [14]:
from sklearn import metrics
print('R square = ',metrics.r2_score(y_test, lrpred))
print('Mean squared Error = ',metrics.mean_squared_error(y_test, lrpred))
print('Mean absolute Error = ',metrics.mean_absolute_error(y_test, lrpred))

R square =  0.9052889824534557
Mean squared Error =  97.87152220196162
Mean absolute Error =  7.955916525326746

In [15]:
my_weight = lr.predict([[0,60]])
print('My predicted weight = ',my_weight)

My predicted weight =  [113.77165517]

In [16]:
print("Model is Ready.")

Model is Ready.